html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;

    background-image: -moz-linear-gradient(top, #5F8C30, #57a900);
    background-image: -ms-linear-gradient(top, #5F8C30, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F8C30), to(#57a900));
    background-image: -webkit-linear-gradient(top, #5F8C30, #57a900);
    background-image: -o-linear-gradient(top, #5F8C30, #57a900);
    background-image: linear-gradient(top, #5F8C30, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F8C30', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.ui-jqgrid {
   /* width: 100% !important; */
    margin-top: 3%;
}

#jqGrid_acao{
    text-align: center;
}

.agrupa-botoes{
    display: inline-flex !important;
}

.agrupa-botoes .btn {
    margin-right: 10px;
}

.ocultar{
    display: none;
}

.red{
    color: darkred;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}

.cor-icone-principal{
    color: #333;
    border: 1px solid #333;
    padding: 10px;
    box-shadow: 1px 1px 3px;
}


footer#footer .col-sm-11{
    margin-top: 50px;
    border-top: 1px solid #358BF5;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    height: 60px;
}

#preloading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    z-index:9999; /* makes sure it stays on top */
    display: none;

}

#loading {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#lg-menu .active {
    background-color: #333;
}