
.ui-jqgrid {
   /* width: 100% !important; */
    margin-top: 3%;
}

#jqGrid_acao{
    text-align: center;
}

.agrupa-botoes{
    display: inline-flex !important;
}

.agrupa-botoes .btn {
    margin-right: 10px;
}

.ocultar{
    display: none;
}

.red{
    color: darkred;
}

#preloading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    z-index:9999; /* makes sure it stays on top */
    display: none;

}

#loading {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#lg-menu .active {
    background-color: #333;
}

#btn-busca-cep {
    cursor: pointer;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
    z-index: 10000;
}

.form-inline .form-control{
    display: block;
}


.botoesacao{
    margin-top: 2%;
}